.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button-container {
  margin: 10px;
}

.my-button {
  /* 기존 스타일 */
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #0056b3;
}